<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_tag(resend_email_path(Endpoint, :create)) do %>
      <h2>Resend Email Verification</h2>

      <div class="form-group">
        <label for="username">Email</label>
        <input type="text" class="form-control" name="email">
      </div>

      <button type="submit" class="btn btn-primary">Resend</button>

      <br><br>
    <% end %>
  </div>
</div>
